.skill {
    width: 350px;
    background: #252527;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /*выравнивает строчные элементы внутри блочных*/
    margin: 10px;
    box-sizing: border-box; /*значение "border-box" дедает так, чтобы паддинг в 15px входил в "width: 250px", а не прибавлялся к ней*/
    /*border: 1px solid;*/

}

.icon{
    height: 60px;
    width: 60px;
    background-color:  #909191;
}
.titleAndDescContainer {
    padding: 15px 10px;
    box-sizing: border-box;
}

.title {
    max-width: 320px;
    word-wrap: break-word;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.description {
    font-family: 'Poppins', sans-serif; /*Используем другой текст*/
    font-weight: 100;
    font-stretch: normal;
    font-size: 13px;
    line-height: 1.4;
    max-width: 320px;
    word-wrap: break-word;
    /*background-color: #979cef;*/
    text-align: justify;
}