@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  /*background-color: #7f919f;*/
  @include text($mainFontFamily, 36px, 100, 1.2);
  //font-family: 'Josefin Sans', sans-serif;
  //color: $mainTextColor;
  //font-size: 36px;
  //line-height: 1.2;
  margin: 0 0 30px;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: $accentColor;
    width: 55px;
    height: 1px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  h2 {
    margin: 0;
    font-weight: 350;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
  }

}




