.skillsBlock {
    min-height: 100vh; /* 100vh - вся высота экрана устройства - делаем эт минимальным значением, максимальное при этом не ограничиваем, если будет выходить за границы экрана вниз, то ничего не поплывет*/
    background-color: #3da4a4;
}

.skillsContainer {
    align-items: center;

    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: darkgray;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}