.skillsBlock {
    min-height: 100vh; /* 100vh - вся высота экрана устройства - делаем эт минимальным значением, максимальное при этом не ограничиваем, если будет выходить за границы экрана вниз, то ничего не поплывет*/
    background-color: #1f1f20;
    padding: 70px 0;
    .skillsContainer {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        .skills {
            /*border: 1px solid;*/
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            margin-top: 20px;
            align-items: flex-start;
            @media screen and (max-width: 924px){
                    justify-content: center;
            }
        }
    }
}



//.title {
//    /*background-color: darkgray;*/
//    margin: 0 0 30px;
//    font-family: 'Josefin Sans', sans-serif;
//    color: #fff;
//    text-transform: capitalize;
//    font-size: 36px;
//    line-height: 1.2;
//    letter-spacing: 5px;
//    position: relative;
//}



