.mainBlock {
min-height: 100vh;
    background-color: #b3b6b6;
}

.text {
    background-color: #d09cd5;
    width: 300px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #b7b79f;
}