@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.nav {
    //border: 1px solid;
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: $mainBgColor;



}

.nav a {
    @include text($mainFontFamily, 20px, 350, 1.4);
    color: $mainTextColor;
    text-decoration: none;
    .activeLink {
        color: #0610da;
    }

}

