.footerBlock {
    min-height: 100vh; /* 100vh - вся высота экрана устройства - делаем эт минимальным значением, максимальное при этом не ограничиваем, если будет выходить за границы экрана вниз, то ничего не поплывет*/
    background-color: #bd5151;
}

.footerContainer {
    min-height: 80vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #7f919f;
}

.socialNetworksContainer {
    border: 1px solid;
    width: 280px;
    /*height: 100px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    padding: 5px;
    box-sizing: border-box;
    background-color: #95b9d0;
}

.network {
    width: 60px;
    height: 60px;
    background-color: #656554;
}

.copyright {
    background-color: #6f8fa4;
    height: 40px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    /*flex-direction: column;*/

}