@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.footerBlock {
    /*min-height: 100vh; !* 100vh - вся высота экрана устройства - делаем эт минимальным значением, максимальное при этом не ограничиваем, если будет выходить за границы экрана вниз, то ничего не поплывет*!*/
    background-color: $mainBgColor;
    padding: 70px 0;
    .footerContainer {
        /*min-height: 80vh;*/
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .title {
            @include text($mainFontFamily, 20px, 350, 1.4);
        }
        .socialNetworksContainer {
            width: 280px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /*flex-wrap: wrap;*/
            padding: 5px;
            box-sizing: border-box;
            .network {
                width: 60px;
                height: 60px;
                background-color: #656554;
            }
            @media screen and (max-width: 353px){
                    width: 100%;
                    justify-content: center;
            }
        }
        .copyright {
            height: 40px;
            width: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: small;
            /*flex-direction: column;*/
            @media screen and (max-width: 353px){
                    width: 100%;
            }
        }
    }
}








@media screen and (max-width: 353px){
    .socialNetworksContainer {
        width: 100%;
        justify-content: center;
    }
    .copyright {
        width: 100%;
    }
}