@import '../common/styles/sass/variables';

.projectsBlock {
  min-height: 100vh; /* 100vh - вся высота экрана устройства - делаем эт минимальным значением, максимальное при этом не ограничиваем, если будет выходить за границы экрана вниз, то ничего не поплывет*/
  background-color: $mainBgColor;
  padding: 70px 0;

  .projectContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      /*border: 1px solid;*/
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 20px;
      align-items: flex-start;
      @media screen and (max-width: 877px) {
        justify-content: center;
      }
    }
  }
}



